.navbar-dark .navbar-brand {
   font-size: 24px;
   text-transform: uppercase;
   font-weight: 700;
   color: #683aa4;
}

a.contract-link{
  color: #9664d9;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}

a.contract-link:hover{
  color: #9664d9;
}

.navbar-nav{
  font-size: 18px;
}

body {
  font-family: 'Montserrat';
}

.rounded-4 { border-radius: .5rem; }
.rounded-5 { border-radius: 1rem; }

.text-shadow-1 { text-shadow: 0 .125rem .25rem rgba(0, 0, 0, .25); }
.text-shadow-2 { text-shadow: 0 .25rem .5rem rgba(0, 0, 0, .25); }
.text-shadow-3 { text-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .25); }

.card-cover {
 background-repeat: no-repeat;
 background-position: center center;
 background-size: cover;
}

footer {
  background-color: #212529!important;
}